@font-face {
  font-family: 'Essays1743';
  src: url('../fonts/Essays1743.eot?') format('eot'), url('../fonts/Essays1743.woff') format('woff'), url('../fonts/Essays1743.ttf') format('truetype');
}
@font-face {
  font-family: 'Essays1743';
  font-weight: bold;
  src: url('../fonts/Essays1743-bold.eot?') format('eot'), url('../fonts/Essays1743-bold.woff') format('woff'), url('../fonts/Essays1743-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Essays1743';
  font-style: italic;
  src: url('../fonts/Essays1743-italic.eot?') format('eot'), url('../fonts/Essays1743-italic.woff') format('woff'), url('../fonts/Essays1743-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Essays1743';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/Essays1743-bold-italic.eot?') format('eot'), url('../fonts/Essays1743-bold-italic.woff') format('woff'), url('../fonts/Essays1743-bold-italic.ttf') format('truetype');
}

* { box-sizing: border-box }

html, body { width: 100%; height: 100% }

body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 100%;
  line-height: 1.6;
  color: #444;
  background: #eee;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Essays1743', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

h1 { font-size: 3em; }
h2 { font-size: 2.375em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1em; }
h6 { font-size: 0.75em; }

h1, h2, h3, h4, h5, h6, p, ul { margin-top: 0 }

a { color: #8598e8; transition: opacity 0.3s ease; cursor: pointer }
 a:hover { opacity: 0.7 }

hr {
 padding: 0;
 margin: 3em auto;
 border: none;
 border-top: thin solid #aaa;
 border-top: thin solid rgba(0,0,0,0.1);
 color: #aaa;
 color: rgba(0,0,0,0.3);
 text-align: center;
}
hr:after {
 content: "∞";
 display: inline-block;
 position: relative;
 top: -0.05em;
 font-size: 1.5em;
 line-height: 1em;
 padding: 0 0.25em;
 background: #eee;
 transform: translateY(-50%);
}
.modal-window > .content > hr { margin: 1.5em auto 1.25em }

form label { display: block; margin-bottom: 1em }
form label > select { display: block; width: 100% }
form label > input { display: block; width: 100%; height: 2.5em; padding: 0.5em }
form label > textarea { display: block; width: 100%; padding: 0.5em }
form label > select[multiple] option { padding: 0.5em }

form label > input,
form label > textarea,
form label > .mce-panel,
form label > select[multiple],
.styled-select { border: 1px solid #e5e5e5; box-shadow: 0 1px 2px rgba(0,0,0,.04) }

.styled-select {
 display: block;
 height: 2.5em;
 overflow: hidden;
 background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Cpath fill='%23444444' d='M20 23l5 -6l-10 0Z'/%3E%3C/svg%3E") no-repeat right;
}
.styled-select select {
 background: transparent;
 width: 100%;
 height: 100%;
 padding: 0.5em 2em 0.5em 0.5em;
 font-size: 1em;
 line-height: 1;
 border: 0;
 border-radius: 0;
 -webkit-appearance: none;
}

.main-button { display: inline-block; text-decoration: none; border-radius: 0.3em; background: #8598e8; color: #fff; padding: 0.5em 1em; transition: opacity 0.3s ease; border: 1px solid #e5e5e5; box-shadow: 0 1px 2px rgba(0,0,0,.04) }
 .main-button:hover { opacity: 0.7 }
 .main-button.-delete { background: #cd4747 }
 .main-button.-right { float: right }
 .main-button.-small { font-size: 0.8em; padding: 0.25em 0.5em }

.submit-block { text-align: right; position: absolute; bottom: 0; left: 0; right: 0; border-top: 1px solid #aaa; background: #eee; padding: 0.5em 1em }
 .submit-block > a,
 .submit-block > input { margin-left: 1em }
 .submit-block > .info { float: left; line-height: 2.25em }
 .submit-block > .settings { float: left; line-height: 2.25em; margin-left: -1em; padding: 0 1em }

.success-color { color: #389525 }
.delete-color { color: #cd4747 }

.modal-window { z-index: 65538 } /* Appear above TinyMCE */
 .modal-window > .content { background: #eee; border: 1px solid #aaa; padding: 1em }
 .modal-window > .content > .close { position: absolute; top: 1em; right: 1em }
 .modal-window > .content > *:last-child { margin-bottom: 0 }
 .modal-window > .content > .grid-container > .half:last-child > label:last-child { margin-bottom: 0 }
.edit-post .modal-window { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.3) }
 .edit-post .modal-window.-visible { display: block }
 .edit-post .modal-window > .content { position: absolute; top: 50%; left: 1em; right: 1em; transform: translateY(-50%); margin-top: -1.75em; margin-left: auto; margin-right: auto }
 .edit-post .modal-window.-maxwidth > .content { max-width: 40em }

.grid-container { margin: 0 -0.5em }
 .grid-container > .half,
 .grid-container > .onequarter,
 .grid-container > .threequarter { display: inline-block; vertical-align: top; padding: 0 0.5em }
 .grid-container > .half { width: 50% }
 .grid-container > .onequarter { width: 25% }
 .grid-container > .threequarter { width: 75% }

.admin-container { overflow: hidden; height: 100% }
 .admin-container > .menu,
 .admin-container > .content { display: inline-block; vertical-align: top; height: 100%; position: relative }
 .admin-container > .menu { background: #dfdfdf; width: 15em; max-width: 100%; display: inline-block; border-right: 1px solid #aaa; overflow: auto; -webkit-overflow-scrolling: touch; text-align: center; padding: 2em 0 }
 .admin-container > .menu > .close { display: none }
 .admin-container > .menu > .bottommenu { position: absolute; bottom: 0; left: 0; right: 0; margin-bottom: 0.5em }
 .admin-container > .openmenu { display: none; text-align: center; background: #dfdfdf }
 .admin-container > .openmenu > .open { padding: 1em; float: left }
 .admin-container > .openmenu > h1 { font-size: 2em; line-height: 1.5; margin: 0 0 0 -1.25em; display: inline-block; vertical-align: middle }
 .admin-container > .content { width: calc(100% - 15em) }
 .no-csscalc .admin-container > .menu { width: 30% }
 .no-csscalc .admin-container > .content { width: 60% }

.edit-post { height: 100%; padding: 3em 3em 5em 3em; overflow: auto; -webkit-overflow-scrolling: touch }
.admin-page { height: 100%; padding: 3em; overflow: auto; -webkit-overflow-scrolling: touch }

.block-menu { list-style: none; padding: 0; text-align: left }
 .block-menu > li > a { display: block; padding: 0.5em 1em; transition: background 0.3s ease; color: #444; text-decoration: none }
 .block-menu > li > a:hover { background: #ccc; opacity: 1 }
 .block-menu > li.active > a { background: #ccc }
 .block-menu > li > a > .fa-fw { margin-right: 0.25em }

.block-table { width: 100%; margin-bottom: 1em; border: 1px solid #e5e5e5; box-shadow: 0 1px 2px rgba(0,0,0,.04) }
 .block-table th,
 .block-table td { text-align: left; padding: 0.5em 1em }
 .block-table th { background: #fff; border-bottom: 1px solid #aaa }
 .block-table tr:nth-child(odd) { background: #dfdfdf }

.form-container { width: 20em; margin: 3em auto }
 .form-container > .header { text-align: center }

.meta-preview { background: #fff; padding: .75em 1em; border: 1px solid #e5e5e5; box-shadow: 0 1px 2px rgba(0,0,0,.04) }
 .meta-preview > .title,
 .meta-preview > .url,
 .meta-preview > .desc { display: block; max-width: 512px; font-family: arial,sans-serif }
 .meta-preview > .title { color: #1a0dab; font-size: 18px; }
 .meta-preview > .url { color: #006621; font-size: small }
 .meta-preview > .desc { color: #545454; font-size: small; word-wrap: break-word }

.media-list { list-style: none; padding: 0 }
 .media-list > li { display: inline-block; vertical-align: top; width: 33.33%; padding: 0.5em }
 .media-list > li > .attachment { display: block; position: relative; border: 1px solid #e5e5e5; box-shadow: 0 1px 2px rgba(0,0,0,.04) }
 .media-list > li > .attachment:before { content: ''; display: block; padding-top: 100% }
 .media-list > li > .attachment > img { max-width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) }

.upload-form { }
 .upload-form > .input { width: calc(100% - 7em); float: left }
 .upload-form > .submit { width: 6em; margin-top: 0.09375em }
 .no-csscalc .upload-form > .input { width: 80% }
 .no-csscalc .upload-form > .submit { width: 20% }

.image-field {}
 .image-field .image { display: block; margin-top: 0.5em }
 .image-field .image > img { display: block; max-width: 10em; max-height: 10em }

.contained-fields { border: 0; border-left: 0.5em solid #444; background: #e0e0e0; padding: 1em; margin: 2em 0 1em 0 }
 .contained-fields > *:last-child { margin-bottom: 0 }

@media screen and (min-width: 25em) { .media-list > li { width: 25% } }
@media screen and (min-width: 30.0625em) { .media-list > li { width: 20% } }
@media screen and (min-width: 44.0625em) { .media-list > li { width: 25% } }
@media screen and (min-width: 55em) { .media-list > li { width: 20% } }
@media screen and (min-width: 65em) { .media-list > li { width: 16.6666667% } }
@media screen and (min-width: 75em) { .media-list > li { width: 14.2857142857% } }

@media screen and (max-width: 44em) {
 .admin-container { overflow: visible }
 .admin-container > .content { width: 100%; height: auto }
 .admin-container > .menu { z-index: 1; position: fixed; top: 0; bottom: 0; left: 0; display: none }
 .admin-container > .menu.-visible { display: block }
 .admin-container > .menu > .close { display: block; position: absolute; top: 0; right: 0; padding: 1em }
 .admin-container > .openmenu { display: block }

 .admin-page { padding: 2em }
 .edit-post { padding: 2em 2em 4em 2em }
}

@media screen and (max-width: 30em) {
 .admin-page { padding: 1em }
 .edit-post { padding: 1em 1em 3em 1em }

 .grid-container > .half,
 .grid-container > .onequarter,
 .grid-container > .threequarter { width: 100% }
}

@media screen and (min-width: 30.0625em) {
 .modal-window > .content > .grid-container > .half > label { margin-bottom: 0 }
}
