extends _base
block body
  .admin-page
    h1 Posts
    if data.posts.length > 0
      ul.block-menu.-dynamicwidth
        each post in data.posts
          li: a(href='/admin/edit/'+post.slug) #{post.title}
    p: a(href='/admin/new').main-button.-right New Post
