extends _base
block title
  h1 Posts
block body
  .admin-page
    if data.posts.length > 0
      table.block-table
        tr
          th(width='70%') Title
          th Template
        each post in data.posts
          tr
            td: a(href='/admin/edit/'+post.slug)= post.title
            td= helpers.getTemplateName(post.template)
    p: a(href='/admin/new').main-button.-right New Post
