extends _base
block container
  .form-container
    h2.header Admin
    form(method='post')
      label Username
        input(type='text', name='username')
      label Password
        input(type='password', name='password')
      input.main-button.-right(type='submit', value='Login')
