@font-face {
  font-family: 'Essays 1743';
  src: url('../fonts/Essays1743.eot?') format('eot'), url('../fonts/Essays1743.woff') format('woff'), url('../fonts/Essays1743.ttf') format('truetype');
}
@font-face {
  font-family: 'Essays 1743';
  font-weight: bold;
  src: url('../fonts/Essays1743-bold.eot?') format('eot'), url('../fonts/Essays1743-bold.woff') format('woff'), url('../fonts/Essays1743-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Essays 1743';
  font-style: italic;
  src: url('../fonts/Essays1743-italic.eot?') format('eot'), url('../fonts/Essays1743-italic.woff') format('woff'), url('../fonts/Essays1743-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Essays 1743';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/Essays1743-bold-italic.eot?') format('eot'), url('../fonts/Essays1743-bold-italic.woff') format('woff'), url('../fonts/Essays1743-bold-italic.ttf') format('truetype');
}

* { box-sizing: border-box }

html, body { width: 100%; height: 100% }

body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 100%;
  line-height: 1.6;
  color: #444;
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Essays 1743', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

h1 { font-size: 3em; }
h2 { font-size: 2.375em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1em; }
h6 { font-size: 0.75em; }

h1, h2, h3, h4, h5, h6, p, ul { margin-top: 0 }

a { color: #8598e8; transition: opacity 0.3s ease; cursor: pointer }
 a:hover { opacity: 0.7 }

form label { display: block; margin-bottom: 1em }
form label > select { display: block; width: 100% }
form label > input { display: block; width: 100%; height: 2.5em; padding: 0.5em }
form label > textarea { display: block; width: 100%; padding: 0.5em }

form label > input,
form label > textarea,
form label > .mce-panel,
.styled-select { border: 1px solid #e5e5e5; box-shadow: 0 1px 2px rgba(0,0,0,.04) }

.styled-select {
 display: block;
 height: 2.5em;
 overflow: hidden;
 background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Cpath fill='%23444444' d='M20 23l5 -6l-10 0Z'/%3E%3C/svg%3E") no-repeat right;
}
.styled-select select {
 background: transparent;
 width: 100%;
 height: 100%;
 padding: 0.5em 2em 0.5em 0.5em;
 font-size: 1em;
 line-height: 1;
 border: 0;
 border-radius: 0;
 -webkit-appearance: none;
}

.main-button { display: inline-block; text-decoration: none; border: 0; border-radius: 0.2em; background: #8598e8; color: #fff; padding: 0.5em 1em; transition: opacity 0.3s ease }
 .main-button:hover { opacity: 0.7 }
 .main-button.-delete { background: #cd4747 }
 .main-button.-right { float: right }

.submit-block { text-align: right; position: absolute; bottom: 0; left: 0; right: 0; border-top: 1px solid #aaa; background: #eee; padding: 0.5em 1em }
 .submit-block > a,
 .submit-block > input { margin-left: 1em }
 .submit-block > .info { float: left; line-height: 2.25em }
 .submit-block > .settings { float: left; line-height: 2.25em; margin-right: 1em; margin-left: 0 }

.success-color { color: #389525 }
.delete-color { color: #cd4747 }

.settings-menu { }
 .settings-menu > .content { background: #eee; border: 1px solid #aaa; padding: 1em }
 .settings-menu > .content > .close { position: absolute; top: 1em; right: 1em }
 .settings-menu > .content > .grid-container > .half:last-child > label:last-child { margin-bottom: 0 }
.edit-post .settings-menu { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.3) }
 .edit-post .settings-menu.-visible { display: block }
 .edit-post .settings-menu > .content { position: absolute; top: 50%; left: 1em; right: 1em; transform: translateY(-50%); margin-top: -2.25em; margin-left: auto; margin-right: auto; max-width: 40em }

.grid-container { margin: 0 -0.5em }
 .grid-container > .half,
 .grid-container > .onequarter,
 .grid-container > .threequarter { display: inline-block; vertical-align: top; padding: 0 0.5em }
 .grid-container > .half { width: 50% }
 .grid-container > .onequarter { width: 25% }
 .grid-container > .threequarter { width: 75% }

.admin-container { overflow: hidden; height: 100% }
 .admin-container > .menu,
 .admin-container > .content { display: inline-block; vertical-align: top; height: 100%; position: relative }
 .admin-container > .menu { background: #dfdfdf; width: 15em; display: inline-block; border-right: 1px solid #aaa; overflow: auto; -webkit-overflow-scrolling: touch; text-align: center; padding: 2em 0 }
 .admin-container > .content { width: calc(100% - 15em) }
 .no-csscalc .admin-container > .menu { width: 30% }
 .no-csscalc .admin-container > .content { width: 60% }

.edit-post { height: 100%; padding: 3em 3em 5em 3em; overflow: auto; -webkit-overflow-scrolling: touch }
.admin-page { height: 100%; padding: 3em; overflow: auto; -webkit-overflow-scrolling: touch }

.block-menu { list-style: none; padding: 0; text-align: left }
 .block-menu > li > a { display: block; padding: 0.5em 1em; transition: background 0.3s ease; color: #444; text-decoration: none }
 .block-menu > li > a:hover { background: #ccc; opacity: 1 }
 .block-menu > li.active > a { background: #ccc }
 .block-menu > li > a > .fa-fw { margin-right: 0.25em }

.block-table { width: 100%; margin-bottom: 1em; border: 1px solid #e5e5e5; box-shadow: 0 1px 2px rgba(0,0,0,.04) }
 .block-table th,
 .block-table td { text-align: left; padding: 0.5em 1em }
 .block-table th { background: #fff; border-bottom: 1px solid #aaa }
 .block-table tr:nth-child(odd) { background: #dfdfdf }

.form-container { width: 20em; margin: 3em auto }
 .form-container > .header { text-align: center }

@media screen and (max-width: 44em) {
 .admin-container { overflow: visible }
 .admin-container > .menu,
 .admin-container > .content { width: 100%; height: auto }
 .admin-container > .menu { border-right: none; padding-bottom: 0; padding-top: 1em }
 .admin-container > .menu > h2 { margin-bottom: 0.5em }
 .admin-container > .menu > .block-menu { margin-bottom: 0; height: 2.625em; overflow: auto; white-space: nowrap }
 .admin-container > .menu > .block-menu > li { width: 33.33%; min-width: 8em; display: inline-block; text-align: center; border-top: 1px solid #aaa }

 .admin-page { padding: 2em }
 .edit-post { padding: 2em 2em 4em 2em }
 .admin-container > .menu { border-bottom: 1px solid #aaa }
}

@media screen and (max-width: 25em) {
 .admin-container > .menu > .block-menu > li { width: 40% }
}

@media screen and (max-width: 30em) {
 .grid-container > .half,
 .grid-container > .onequarter,
 .grid-container > .threequarter { width: 100% }
}

@media screen and (min-width: 30.0625em) {
 .settings-menu > .content > .grid-container > .half > label { margin-bottom: 0 }
}
