doctype html
html
  head
    title= post.title
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='canonical', href='#{post.canonical}')
  body
    .container._big
      h1= post.title

      .content
        block body

      section.sidebar
        h3 Pages
        ul.unstyled
          each p in posts
            li
              a(href='/'+p.slug) #{p.title}
